SECRET_KEY="Create your secret key"
DEBUG=True
ALLOWED_HOSTS=*

DB_NAME=test_db
DB_USER=test_db_user
DB_PASSWORD="Create your database password"
DB_HOST=db
DB_PORT=5432

SECURE_HSTS_SECONDS=2592000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=False
DJANGO_SECURE_HSTS_PRELOAD=False